body{

    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 5px;
    padding-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.borde{
    border: 1px solid black;
    padding: 15px;
}

#header {
text-align: center;
}

#nav{
    text-align: center;
    
}

#nav a{
    display: inline-block;
    background-color: lightslategrey;
    color: white;
    padding: 0.2% 8%;
    text-decoration: none;
    border-radius: 5px;
    
}

#nav a:hover{
    color: white;
    background-color: gray;
    
}

​
#nav a:active{
    color: black; 
}

#nav .activo{
    background-color: orangered;
}

#form{
    
    text-align: center;
}

#form label{
    text-align: justify;
}


#footer{
    text-align: center;
}