body{

    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 5px;
    padding-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.borde{
    border: 1px solid black;
    padding: 15px;
}

#header {
    text-align: center;
    }

    #nav{
        text-align: center;
        
    }

    
#nav a{
    display: inline-block;
    background-color: lightslategrey;
    color: white;
    padding: 0.2% 8%;
    text-decoration: none;
    border-radius: 5px;
    
}

#nav a:hover{
    color: white;
    background-color: gray;
    
}

​
#nav a:active{
    color: black; 
    background-color: orangered;
}

#nav .activo{
    background-color: orangered;
}

#sec-quienes-somos{
    
    display: flex;
}

#sec-quienes-somos #quienes-somos{
    margin-bottom: 1px;
}

#sec-quienes-somos img{
    width: 100%;
}

#sec-quienes-somos #small{
font-size: 12px;
}
#sec-quienes-somos #art-quienes-somos{
    text-align: justify;
}

#sec-quienes-somos #hr{
background-color: black;
  width: 150px;
  height: 3px;
  border-radius: 50%;
  transform: rotate(1deg);
  margin-left: 0;
    
}

#sec-nuestro-equipo{
    color: white;
    background-color: #6fa8dc;
    text-align: center;
    
}

#sec-nuestro-equipo h1{
    margin-bottom: 0px;
}

#sec-nuestro-equipo hr{
    background-color:white;
  width: 225px;
  height: 3px;
  border-radius: 50%;
  transform: rotate(1deg);
 
}

#sec-nuestros-empleados{
    text-align: center;
}

#sec-nuestros-empleados h1{
    margin-bottom: 0;
 }

#sec-nuestros-empleados hr{
background-color:black;
  width: 225px;
  height: 3px;
  border-radius: 50%;
  transform: rotate(1deg);
}

#sec-nuestros-empleados table {
    margin: 2em auto;
    width: 80%;
    text-align: start;
}

#sec-nuestros-empleados table th {
    text-align: left;
    background-color: gray;
}

#sec-nuestros-empleados table td {
    height: 33px;
    padding: 5px;
}

#sec-nuestros-empleados table tbody tr:nth-child(odd) {
    background-color: lightgray;
}


#footer{
    text-align: center;
}